body
{
	overflow: hidden;
}

#RadialMenu
{
	margin: 0 auto;
	position:relative;
	background-color: rgba(0, 0, 0, 0.15);
	text-align: center;
	width:65%;
	height:70%;
}

#RadialMenu .SpotifyLogo
{	
	position: relative;
	width: 25%;
}

#BoxRegion
{
	margin: 0 auto;
	position:relative;
	width:65%;
	height:70%;
	background-color: rgba(0, 0, 0, 0.15);
    border-radius: 50px;
	backdrop-filter: url(filters.svg#filter) blur(5px);
	text-align: center;
}

#BoxRegion .SpotifyLogo
{
	position: relative;
	width: 25%;
	top: -15%;
}

#ScreenContainer
{
	text-align: center;
	position:absolute;
	width: 100%;
	height: 100%;
}

.TextField
{
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
	width: 80%;
	height: 5%;
	text-align: center;
	margin-bottom: 1em;
	outline: none;
}

.Button
{
	margin-top:5%;
	transition: 1s;
	outline:none;
	//font-family: Futura, "futura-pt";
}

.Button:hover
{	
	background-color: #2EBD59;
	transition: 0.5s;
	cursor: pointer;
}

#BackgroundVideo
{
	width:100%;
	height:100%;
	position:absolute;
    object-fit: cover;
	z-index:-1;
}

.VerticallyCentered 
{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.DisableSelect 
{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently 
                                  not supported by any browser */
}